/* -------- Снятие стилей -------- */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', Arial, sans-serif;
	user-select: none;
}

button {
	all: unset;
	cursor: pointer;
}

h3,
h4,
p {
	cursor: default;
}

a {
	all: unset;
	cursor: pointer;
}

/* -------- Установка стилей для заголовков и текста -------- */

h1 {
	font-size: 30px;
	font-weight: 600;
}

h2 {
	font-size: 14px;
	font-weight: 600;
}

h3 {
	font-size: 35px;
	font-weight: 700;
}

h4 {
	font-size: 18px;
	font-weight: 600;
}

span {
	font-size: 30px;
	font-weight: 600;
}

p {
	font-size: 16px;
	font-weight: 600;
	color: #565656;
}

body {
	background-color: #fafcff;
}

.white {
	color: #fafcff;
}

.green {
	color: #147a63;
}

.yellow {
	color: #ffc400;
}

.container {
	width: 90%;
	margin: auto;
}

/* -------- Шапка (фон) -------- */

header {
	display: grid;
	height: 65px;
	width: 100%;
}

.header_line {
	display: inline-block;
}

/* -------- Шапка (лого) -------- */

.logo {
	display: flex;
}

.logo a {
	transition: all .41s ease;
	height: 41px;
}

.logo a:hover {
	transform: scale(1.15);
	transition: all .41s ease;
	;
}

/* -------- Шапка (кнопка вход|выход) -------- */

.auth {
	display: block;
	background-color: white;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	overflow: hidden;
	box-shadow: 0 0 10px 0px linear-gradient(-45deg, #268d51, #0a5f4e);
	transition: all .2s ease;
	position: absolute;
	top: calc((65px - 40px) / 2);
	right: 40px;
}

.auth:hover {
	transform: scale(1.2);
	transition: all .2s ease;
}

/* -------- Панель навигации (Фон) -------- */

nav {
	display: flex;
	height: 450px;
	width: 100%;
	background: linear-gradient(-45deg, #268d51, #0a5f4e);
}

.back_img {
	align-items: center;
	background: url("../content/img/Без имени-1.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 400px;
}

/* -------- Панель навигации (Кнопки) -------- */

.nav_line {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav_line a {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100px;
	height: 80px;
	padding: 10px;
	margin: 0 40px 0 40px;
	text-align: center;
	transition: all .5s ease;
	border-radius: 10px;
}

.nav_line a:hover {
	transition: all .5s ease;
	transform: translateY(-10px);
	background-color: rgba(10, 95, 78, .4);
}

.nav_icon {
	margin-bottom: 5px;
	display: flex;
	align-items: center;
	width: 25px;
	height: 25px;
}

.nav_icon img {
	width: 25px;
	margin: auto;
}

/* -------- Панель навигации (Заголовок) -------- */

.title {
	text-align: center;
	margin: 50px auto 0;
	width: 800px;
}

/* -------- Main -------- */

main {
	margin: 40px 0;
}

/* -------- Блок информации (line) -------- */

.adv_line {
	display: flex;
	justify-content: center;
}

/* -------- Блок информации (подблоки) -------- */

.adv_block {
	text-align: center;
	margin: 0 40px;
	padding: 10px;
	display: block;
	width: 300px;
	transition: all .8s ease;
	border-radius: 10px;
}

.adv_block h4 {
	margin: 10px 0;
}

.adv_block:hover {
	transform: scale(1.05);
	background-color: #e9ecf1;
	transition: all .3s ease;
}

/* -------- Блок информации (иконка) -------- */

.icon_block {
	display: grid;
	margin: auto;
	width: 80px;
	height: 80px;
	background: linear-gradient(-45deg, #268d51, #0a5f4e);
	align-items: center;
	border-radius: 50%;
}

.icon_block img {
	width: 50px;
	height: 50px;
	margin: auto;
	vertical-align: middle;
	align-items: center;
}

/* -------- Тесты (Блоки) -------- */

.tests_list {
	display: flex;
	justify-content: center;
}

/* -------- Тесты (Блок) -------- */

.test_block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 300px;
	height: 400px;
	padding: 20px;
	margin: 0 20px;
	border-radius: 10px 40px 10px 40px;
	background-color: #138a62;
	transition: all .3s ease;
}

.test_block img {
	filter: brightness(100%);
	transition: filter 0.3s ease;
}

.test_block:hover {
	transition: all .5s ease;
	box-shadow: 0 10px 8px rgba(0, 0, 0, .3);
	transform: translateY(-10px);
	background-color: #0b7954;
}

.test_block:hover img {
	filter: brightness(50%);
	transition: filter 0.3s ease;
}

.test_block:hover h4 {
	cursor: pointer;
}

.image-container {
	position: relative;
	display: inline-block;
  }
  
  .overlay-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fafcff;
	padding: 10px;
	opacity: 0;
	transition: opacity 0.3s ease;
  }
  
  .test_block:hover .overlay-text {
	opacity: 1;
  }

/* -------- Тесты (Иконка) -------- */

.test_icon {
	width: 260px;
	height: 220px;
	border-radius: 5px 30px 5px 30px;
	object-fit: cover;
	margin-bottom: 20px;
}

/* -------- Тесты (Кнопка) -------- */

.test_questions {
	justify-content: center;
	align-items: center;
	margin-top: auto;
	width: 200px;
	background-color: #ffc400;
	padding: 10px;
	border-radius: 10px;
	border: 2px solid none;
	transition: box-shadow .3s ease;
}

/* -------- Тесты заголовок -------- */

.test_title {
	margin-bottom: 20px;
	text-align: center;
}

/* -------- О приложении (блок) -------- */

.info {
	justify-content: center;
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
}

/* -------- О приложении (блоки-карточки) -------- */

.info_block {
	margin: 15px;
	padding: 10px;
	text-align: center;
	width: 400px;
	height: 150px;
	background-color: #138a62;
	border-radius: 10px;
	flex-basis: 40%;
	transition: all .3s ease;
}

.info_block h4 {
	cursor: pointer;
	overflow: hidden;
}

.info_block:hover {
	transition: all .4s ease;
	box-shadow: 0 10px 8px rgba(0, 0, 0, .3);
	transform: translateY(-10px);
	cursor: pointer;
	background-color: #0b7954;
}

/* -------- О приложении (заголовок) -------- */

.info_title {
	text-align: center;
	font-weight: 600;
}

/* --------  () -------- */

table {
	margin: auto;
	justify-content: center;
	border-collapse: collapse;
	width: 80%;

}

th,
td {
	border: none;
	padding: 8px;
	font-size: 16px;
	font-weight: 700;
}

td {
	color: #0a5f4e;
}

th:nth-child(1),
td:nth-child(1) {
	width: 500px;
	text-align: left;
}

th:nth-child(2),
td:nth-child(2) {
	width: 200px;
	text-align: center;
}

th:nth-child(3),
td:nth-child(3) {
	width: 150px;
	text-align: center;
}


th {
	background-color: #138a62;
	color: #fafcff;
}

tr:nth-child(even) {
	background-color: #e8ebf0;
}

tr:nth-child(odd) {
	background-color: #fafcff;
}

/* -------- О приложении (Заголовки) -------- */

.about_title {
	font-size: 24px;
	text-align: center;
	margin: 30px 0 10px;
}

/* -------- О приложении (Блоки) -------- */

.about_block {
	margin: 30px;
}

/* -------- О приложении (Изображение) -------- */

.about_img {
	width: 100%;
	box-shadow: 0 0 3px 4px #2c5c4c;
}

/* -------- Авторизация (фон) -------- */

.auth_bg {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background:  linear-gradient(-45deg, #268d51, #0a5f4e);
}

/* -------- Авторизация (Форма) -------- */

.auth_form {
	margin: auto;
	width: 420px;
	height: 600px;
	background-color: #fafcff;
	border-radius: 4px;
	padding: 60px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.auth_form h1 {
	text-align: center;
	font-weight: 700;
}

.auth_form label {
	font-size: 18px;
	font-weight: 600;
}

/* -------- Авторизация (подблоки) -------- */

.auth_block {
	margin: 20px 0;
	width: 100%;
	text-align: left;
	display: flex;
	align-items: center;
	flex-direction: column;
	border-radius: 4px;
}

.auth_block * {
	width: 100%;
}

.input_block {
	margin-top: 5px;
	height: 42px;
	width: 100%;
	display: flex;
	align-items: center;
	border-radius: 4px;
	background-color: #f0f0f0;
}

/* -------- Авторизация (inputs) -------- */

.input_block * {
	height: 42px;
}

.input_block img {
	width: 42px;
	padding: 5px;
	background-color: #147a63;
	border-radius: 4px 0 0 4px;
}

.auth_input {
	width: 100%;
	height: 100%;
}

.auth_input input {
	all: unset;
	height: 100%;
	width: 90%;
	margin: auto;
	padding: 0 10px;
}

.auth_input input:focus {
	outline: 1px solid black;
}

/* -------- Авторизация (декоративные блоки) -------- */

.line {
	border-radius: 1;
	height: 3px;
	background-color: #0a5f4e;
}

/* -------- Авторизация (Кнопка) -------- */

.auth_form button {
	color: #fafcff;
	font-weight: 700;
	width: 95%;
	padding: 10px;
	background-color: #147a63;
}

/* -------- Авторизация (текст ошибки) -------- */

.error {
	color: #d63024;
}

/* --------  () -------- */

/* --------  () -------- */

/* --------  () -------- */

/* --------  () -------- */

/* --------  () -------- */

/* --------  () -------- */

/* --------  () -------- */

/* --------  () -------- */

/* --------  () -------- */

/* --------  () -------- */

/* --------  () -------- */

/* --------  () -------- */

/* -------- Footer (Фон) -------- */

footer {
	background: linear-gradient(-45deg, #268d51, #0a5f4e);
	display: flex;
	width: 100%;
}

/* -------- Footer (блок) -------- */

.footer_line {
	display: flex;
}

/* -------- Footer (Панель навигации) -------- */

.nav_block {
	margin-left: 40px;
}

.nav_block h2 {
	margin: 15px 0;
	height: 24px;
	padding: 5px;
	transition: all .5s ease;
	border-radius: 5px;
}

.nav_block h2:hover {
	transform: scale(1.15);
	transition: all .5s ease;
	background-color: rgba(10, 95, 78, .4);
}